.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #fff;
}

.logoContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 150px;
  margin-top: 20px;
}
.invoice_logo {
}
.invoice_from {
  padding: 20px;
  margin-left: 30%;
  float: right;
}
.heading {
  margin: 10px;
}

.table {
  color: black;
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}
.table tr {
  border-bottom: 1px solid #000;
}
.row:last-child {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.table_border {
  float: right;
  margin-bottom: 20px;
}
.table_border td {
  border-bottom: 1px solid #000;
}
.invoice_footer {
  display: flex;
  justify-content: center;
}
.printBtn {
  padding: 5px;
  align-items: center;
}
.printbtndev {
  background-color: #fff;
  padding: 5px;
}
.printBtn_top {
  right: 5%;
  position: absolute;
  padding: 5px;
}

@media screen and (max-width: 1100px) {
  .logoContainer {
    height: 300px;
  }
}
