.container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 40px;
  cursor: pointer;
}

.serviceCard {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.serviceImage {
  width: 250px;
  object-fit: contain;
}

.serviceTitle {
  font-size: 18px;
  font-weight: bold;
  color: #d1411e;
}

.serviceDesc {
  text-align: center;
  color: #777;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #d1411e;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

.desc {
  text-align: center;
  color: #777;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 30px;
  }

  .price,
  .desc {
    font-size: 24px;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
}
